# Invasion Index

Invasion index : a measure of how close to the opponent’s goal a team plays during a match (i.e., its dangerousness) acceleration index: a measure of how fast a team reaches the closest position to the opponent’s goal.

In [13]:
# load some packages
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import numpy as np
import json
import pandas as pd
import os

from utils import wyscout

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [2]:
# load the dataset from https://figshare.com/collections/Soccer_match_event_dataset/4415000/5
# wyscout.download_data()

# use the Premier League as an example
dirname = './data/Wyscout/events'
fn = os.path.join(dirname, 'events_England.json')
season = '2017-2018'
league = 'Premier League'

# read in event data using pandas --> DataFrame
df_events = pd.read_json(fn)
df_events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175

In [3]:
# randomly extract a match
# matchId = np.random.choice(df_events['matchId'].unique())
matchId = 2499754 # Man City - Man City, 5:0
match_events = df_events[df_events.matchId==matchId]

matchfile = './data/Wyscout/matches/matches_England.json'
df_match = pd.read_json(matchfile)

df_match[df_match['wyId']==matchId]

,status,roundId,gameweek,teamsData,seasonId,dateutc,winner,venue,wyId,label,date,referees,duration,competitionId
349,Played,4405654,4,"{'1612': {'scoreET': 0, 'coachId': 14791, 'sid...",181150,2017-09-09 11:30:00,1625,Etihad Stadium,2499754,"Manchester City - Liverpool, 5 - 0","September 9, 2017 at 1:30:00 PM GMT+2","[{'refereeId': 381851, 'role': 'referee'}, {'r...",Regular,364

In [23]:
# add extra informative columns
match_events = wyscout.add_event_cols(match_events, ['team', 'player', 'taglist', 'time'])
match_events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,team,player,taglist,time
56750,8,Simple pass,[{'id': 1801}],116,"[{'y': 48, 'x': 50}, {'y': 55, 'x': 27}]",2499754,Pass,1612,1H,0.841815,85,185702706,Liverpool,G. Wijnaldum,[Accurate],"(1, 0, 1)"
56751,8,Simple pass,[{'id': 1801}],14870,"[{'y': 55, 'x': 27}, {'y': 79, 'x': 41}]",2499754,Pass,1612,1H,2.864206,85,185702707,Liverpool,J. Matip,[Accurate],"(1, 0, 3)"
56752,8,Simple pass,[{'id': 1801}],346101,"[{'y': 79, 'x': 41}, {'y': 67, 'x': 70}]",2499754,Pass,1612,1H,6.850935,85,185702711,Liverpool,T. Alexander-Arnold,[Accurate],"(1, 0, 7)"
56753,8,Simple pass,[{'id': 1801}],120353,"[{'y': 67, 'x': 70}, {'y': 87, 'x': 55}]",2499754,Pass,1612,1H,8.040190,85,185757993,Liverpool,Mohamed Salah,[Accurate],"(1, 0, 8)"
56754,8,Simple pass,[{'id': 1801}],116,"[{'y': 87, 'x': 55}, {'y': 95, 'x': 66}]",2499754,Pass,1612,1H,9.988902,85,185702722,Liverpool,G. Wijnaldum,[Accurate],"(1, 0, 10)"

In [33]:
filtered_events = wyscout.filter_events_by_time(match_events, half=1, minute_period=(10,12))
narrative = wyscout.generate_narrative(filtered_events)
narrative

27 EVENTS IN THIS PERIROD

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,team,player,taglist,time
56921,8,Simple pass,[{'id': 1801}],7964,"[{'y': 88, 'x': 43}, {'y': 96, 'x': 46}]",2499754,Pass,1612,1H,600.711644,85,185702895,Liverpool,J. Henderson,[Accurate],"(1, 10, 1)"
56922,8,Simple pass,[{'id': 1801}],120353,"[{'y': 96, 'x': 46}, {'y': 92, 'x': 39}]",2499754,Pass,1612,1H,601.987851,85,185702896,Liverpool,Mohamed Salah,[Accurate],"(1, 10, 2)"
56923,8,High pass,[{'id': 1802}],7964,"[{'y': 92, 'x': 39}, {'y': 93, 'x': 43}]",2499754,Pass,1612,1H,602.753177,83,185702898,Liverpool,J. Henderson,[Not accurate],"(1, 10, 3)"
56924,7,Touch,[{'id': 1401}],26136,"[{'y': 7, 'x': 57}, {'y': 0, 'x': 33}]",2499754,Others on the ball,1625,1H,604.929609,72,185702784,Manchester City,B. Mendy,[Interception],"(1, 10, 5)"
56925,5,Ball out of the field,[],0,"[{'y': 0, 'x': 33}, {'y': 0, 'x': 0}]",2499754,Interruption,1625,1H,608.185745,50,185702785,Manchester City,,[],"(1, 10, 8)"
56926,3,Throw in,[{'id': 1801}],346101,"[{'y': 100, 'x': 66}, {'y': 93, 'x': 69}]",2499754,Free Kick,1612,1H,631.514398,36,185702902,Liverpool,T. Alexander-Arnold,[Accurate],"(1, 10, 32)"
56927,8,Simple pass,[{'id': 1801}],116,"[{'y': 93, 'x': 69}, {'y': 93, 'x': 70}]",2499754,Pass,1612,1H,633.135908,85,185702903,Liverpool,G. Wijnaldum,[Accurate],"(1, 10, 33)"
56928,8,High pass,[{'id': 1802}],346101,"[{'y': 93, 'x': 70}, {'y': 88, 'x': 85}]",2499754,Pass,1612,1H,633.968949,83,185702904,Liverpool,T. Alexander-Arnold,[Not accurate],"(1, 10, 34)"
56929,8,Simple pass,"[{'id': 1401}, {'id': 1802}]",70086,"[{'y': 12, 'x': 15}, {'y': 29, 'x': 34}]",2499754,Pass,1625,1H,635.277417,85,185702787,Manchester City,N. Otamendi,"[Interception, Not accurate]","(1, 10, 35)"
56930,8,Simple pass,"[{'id': 1401}, {'id': 1801}]",15808,"[{'y': 71, 'x': 66}, {'y': 87, 'x': 92}]",2499754,Pass,1612,1H,637.927490,85,185702905,Liverpool,Roberto Firmino,"[Interception, Accurate]","(1, 10, 38)"
56931,1,Ground defending duel,"[{'id': 702}, {'id': 1801}]",38021,"[{'y': 13, 'x': 8}, {'y': 52, 'x': 30}]",2499754,Duel,1625,1H,639.187203,12,185702790,Manchester City,K. De Bruyne,"[Neutral, Accurate]","(1, 10, 39)"
56932,8,High pass,[{'id': 1801}],25747,"[{'y': 48, 'x': 70}, {'y': 17, 'x': 62}]",2499754,Pass,1612,1H,640.921077,83,185702906,Liverpool,S. Man\u00e9,[Accurate],"(1, 10, 41)"
56933,8,Simple pass,[{'id': 1801}],4908,"[{'y': 17, 'x': 62}, {'y': 36, 'x': 69}]",2499754,Pass,1612,1H,643.652630,85,185702909,Liverpool,Alberto Moreno,[Accurate],"(1, 10, 44)"
56934,8,Simple pass,[{'id': 1802}],25747,"[{'y': 36, 'x': 69}, {'y': 34, 'x': 77}]",2499754,Pass,1612,1H,645.299637,85,185702910,Liverpool,S. Man\u00e9,[Not accurate],"(1, 10, 45)"
56935,7,Touch,[{'id': 1401}],105339,"[{'y': 66, 'x': 23}, {'y': 77, 'x': 34}]",2499754,Others on the ball,1625,1H,646.020468,72,185702791,Manchester City,Fernandinho,[Interception],"(1, 10, 46)"
56936,8,Cross,"[{'id': 401}, {'id': 801}, {'id': 1802}]",4908,"[{'y': 23, 'x': 66}, {'y': 58, 'x': 90}]",2499754,Pass,1612,1H,647.224460,80,185702911,Liverpool,Alberto Moreno,"[Left foot, High, Not accurate]","(1, 10, 47)"
56937,7,Clearance,"[{'id': 1401}, {'id': 1801}]",70086,"[{'y': 42, 'x': 10}, {'y': 76, 'x': 27}]",2499754,Others on the ball,1625,1H,648.343817,71,185702793,Manchester City,N. Otamendi,"[Interception, Accurate]","(1, 10, 48)"
56938,1,Air duel,"[{'id': 702}, {'id': 1801}]",18550,"[{'y': 24, 'x': 73}, {'y': 29, 'x': 76}]",2499754,Duel,1612,1H,651.173742,10,185702915,Liverpool,E. Can,"[Neutral, Accurate]","(1, 10, 51)"
56939,1,Air duel,"[{'id': 702}, {'id': 1801}]",8277,"[{'y': 76, 'x': 27}, {'y': 71, 'x': 24}]",2499754,Duel,1625,1H,652.020007,10,185702794,Manchester City,K. Walker,"[Neutral, Accurate]","(1, 10, 52)"
56940,7,Clearance,[{'id': 1802}],105339,"[{'y': 71, 'x': 24}, {'y': 21, 'x': 65}]",2499754,Others on the ball,1625,1H,653.294873,71,185702797,Manchester City,Fernandinho,[Not accurate],"(1, 10, 53)"
56941,8,Simple pass,[{'id': 1802}],346101,"[{'y': 79, 'x': 35}, {'y': 85, 'x': 0}]",2499754,Pass,1612,1H,658.226051,85,185702920,Liverpool,T. Alexander-Arnold,[Not accurate],"(1, 10, 58)"
56942,5,Ball out of the field,[],0,"[{'y': 15, 'x': 100}, {'y': 0, 'x': 0}]",2499754,Interruption,1625,1H,671.888991,50,185702801,Manchester City,,[],"(1, 11, 12)"
56943,3,Corner,[{'id': 1802}],8317,"[{'y': 0, 'x': 100}, {'y': 31, 'x': 95}]",2499754,Free Kick,1625,1H,687.888656,30,185702803,Manchester City,David Silva,[Not accurate],"(1, 11, 28)"
56944,8,Launch,"[{'id': 1401}, {'id': 1801}]",4908,"[{'y': 69, 'x': 5}, {'y': 79, 'x': 8}]",2499754,Pass,1612,1H,688.692079,84,185702921,Liverpool,Alberto Moreno,"[Interception, Accurate]","(1, 11, 29)"
56945,1,Ground loose ball duel,"[{'id': 703}, {'id': 1801}]",25747,"[{'y': 79, 'x': 8}, {'y': 82, 'x': 8}]",2499754,Duel,1612,1H,691.115074,13,185702923,Liverpool,S. Man\u00e9,"[Won, Accurate]","(1, 11, 31)"
56946,1,Ground loose ball duel,"[{'id': 701}, {'id': 1802}]",340386,"[{'y': 21, 'x': 92}, {'y': 18, 'x': 92}]",2499754,Duel,1625,1H,691.291516,13,185702805,Manchester City,Gabriel Jesus,"[Lost, Not accurate]","(1, 11, 31)"
56947,2,Foul,[],340386,"[{'y': 18, 'x': 92}, {'y': 21, 'x': 92}]",2499754,Foul,1625,1H,692.251989,20,185702806,Manchester City,Gabriel Jesus,[],"(1, 11, 32)"

In [6]:
df_events = wyscout.add_event_cols(df_events, ['team', 'player', 'taglist', 'time'])
df_events.taglist.explode().value_counts()

Accurate                       416443
Not accurate                   147544
Lost                            68305
Won                             68074
Neutral                         40148
Interception                    35336
Free space left                 12611
Free space right                12604
High                            11574
Right foot                      11470
Take on right                    9481
Take on left                     9473
Counter attack                   9401
Left foot                        8329
Opportunity                      6414
Through                          5885
Blocked                          4486
Sliding tackle                   4110
Anticipation                     3604
Anticipated                      3532
Missed ball                      2363
Key pass                         2283
Goal                             2007
Position: Goal low center        1623
Head/body                        1334
Yellow card                      1180
Position: Goal center            1050
Position: Goal low left           972
Position: Goal low right          868
Dangerous ball lost               753
Position: Out high right          628
Assist                            617
Position: Out low left            612
Position: Out low right           612
Position: Goal center left        566
Position: Goal center right       554
Position: Out high left           537
Position: Out high center         422
Fairplay                          356
Position: Goal high center        354
Feint                             352
Direct                            336
Position: Out center right        181
Position: Goal high left          180
Position: Out center left         167
Position: Goal high right         158
Position: Post high left           30
Own goal                           29
Position: Post high right          29
Position: Post high center         26
Position: Post low left            25
Red card                           22
Position: Post low right           22
Second yellow card                 19
Position: Post center right        16
Indirect                           14
Position: Post center left         13
Name: taglist, dtype: int64

In [7]:
# eventName = 'Shot'
# id_interruption = match_events[match_events.eventName==eventName].index.values
# id_followup = id_interruption + 1
# id_ = np.concatenate((id_interruption[:,np.newaxis], id_followup[:,np.newaxis]), axis=-1).reshape(-1)
# display(match_events.loc[id_])

tag = 'Dangerous ball lost'
id_ = match_events[match_events.taglist.apply(lambda x: tag in x)].index.values
id_followup = id_ + 1
id_ = np.concatenate((id_[:,np.newaxis], id_followup[:,np.newaxis]), axis=-1).reshape(-1)
display(match_events.loc[id_])

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,team,player,taglist,time
57225,1,Ground attacking duel,"[{'id': 2001}, {'id': 501}, {'id': 701}, {'id'...",8325,"[{'y': 97, 'x': 63}, {'y': 93, 'x': 64}]",2499754,Duel,1625,1H,1612.379830,11,185703116,Manchester City,S. Ag\u00fcero,"[Dangerous ball lost, Free space right, Lost, ...","(1, 26, 52)"
57226,1,Ground defending duel,"[{'id': 1901}, {'id': 502}, {'id': 703}, {'id'...",74,"[{'y': 3, 'x': 37}, {'y': 7, 'x': 36}]",2499754,Duel,1612,1H,1612.536739,12,185703215,Liverpool,R. Klavan,"[Counter attack, Free space left, Won, Accurate]","(1, 26, 53)"
57765,8,Simple pass,"[{'id': 2001}, {'id': 1802}]",346101,"[{'y': 74, 'x': 26}, {'y': 80, 'x': 15}]",2499754,Pass,1612,2H,743.211159,85,185703755,Liverpool,T. Alexander-Arnold,"[Dangerous ball lost, Not accurate]","(2, 12, 23)"
57766,8,Simple pass,[{'id': 1801}],8317,"[{'y': 20, 'x': 85}, {'y': 36, 'x': 89}]",2499754,Pass,1625,2H,745.585653,85,185703709,Manchester City,David Silva,[Accurate],"(2, 12, 26)"

In [8]:
match_events.loc[57766:57780]

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,team,player,taglist,time
57766,8,Simple pass,[{'id': 1801}],8317,"[{'y': 20, 'x': 85}, {'y': 36, 'x': 89}]",2499754,Pass,1625,2H,745.585653,85,185703709,Manchester City,David Silva,[Accurate],"(2, 12, 26)"
57767,1,Ground defending duel,"[{'id': 504}, {'id': 701}, {'id': 1802}]",74,"[{'y': 64, 'x': 11}, {'y': 90, 'x': 77}]",2499754,Duel,1612,2H,747.092124,12,185703758,Liverpool,R. Klavan,"[Take on right, Lost, Not accurate]","(2, 12, 27)"
57768,1,Ground attacking duel,"[{'id': 503}, {'id': 703}, {'id': 1801}]",8325,"[{'y': 36, 'x': 89}, {'y': 10, 'x': 23}]",2499754,Duel,1625,2H,747.115197,11,185703710,Manchester City,S. Ag\u00fcero,"[Take on left, Won, Accurate]","(2, 12, 27)"
57769,1,Ground attacking duel,"[{'id': 701}, {'id': 1802}]",8325,"[{'y': 10, 'x': 23}, {'y': 32, 'x': 90}]",2499754,Duel,1625,2H,747.706160,11,185703712,Manchester City,S. Ag\u00fcero,"[Lost, Not accurate]","(2, 12, 28)"
57770,8,Simple pass,"[{'id': 1901}, {'id': 1801}]",7964,"[{'y': 68, 'x': 10}, {'y': 58, 'x': 11}]",2499754,Pass,1612,2H,747.747252,85,185703761,Liverpool,J. Henderson,"[Counter attack, Accurate]","(2, 12, 28)"
57771,8,High pass,"[{'id': 1901}, {'id': 1801}]",74,"[{'y': 58, 'x': 11}, {'y': 73, 'x': 27}]",2499754,Pass,1612,2H,748.584222,83,185703763,Liverpool,R. Klavan,"[Counter attack, Accurate]","(2, 12, 29)"
57772,8,Simple pass,"[{'id': 1901}, {'id': 1801}]",14870,"[{'y': 73, 'x': 27}, {'y': 84, 'x': 23}]",2499754,Pass,1612,2H,749.991664,85,185703764,Liverpool,J. Matip,"[Counter attack, Accurate]","(2, 12, 30)"
57773,8,High pass,"[{'id': 1901}, {'id': 1801}]",346101,"[{'y': 84, 'x': 23}, {'y': 94, 'x': 77}]",2499754,Pass,1612,2H,753.388298,83,185703765,Liverpool,T. Alexander-Arnold,"[Counter attack, Accurate]","(2, 12, 33)"
57774,1,Ground attacking duel,"[{'id': 1901}, {'id': 504}, {'id': 702}, {'id'...",15808,"[{'y': 94, 'x': 77}, {'y': 100, 'x': 78}]",2499754,Duel,1612,2H,756.907405,11,185703767,Liverpool,Roberto Firmino,"[Counter attack, Take on right, Neutral, Accur...","(2, 12, 37)"
57775,1,Ground defending duel,"[{'id': 503}, {'id': 702}, {'id': 1801}]",9380,"[{'y': 6, 'x': 23}, {'y': 0, 'x': 22}]",2499754,Duel,1625,2H,758.792537,12,185703718,Manchester City,J. Stones,"[Take on left, Neutral, Accurate]","(2, 12, 39)"
57776,5,Ball out of the field,[],0,"[{'y': 100, 'x': 84}, {'y': 100, 'x': 100}]",2499754,Interruption,1612,2H,786.391171,50,185703773,Liverpool,None,[],"(2, 13, 6)"
57777,3,Throw in,[{'id': 1801}],26136,"[{'y': 0, 'x': 22}, {'y': 5, 'x': 7}]",2499754,Free Kick,1625,2H,790.420415,36,185703721,Manchester City,B. Mendy,[Accurate],"(2, 13, 10)"
57778,8,Simple pass,[{'id': 1801}],9380,"[{'y': 5, 'x': 7}, {'y': 39, 'x': 4}]",2499754,Pass,1625,2H,792.822577,85,185703722,Manchester City,J. Stones,[Accurate],"(2, 13, 13)"
57779,8,Simple pass,[{'id': 1801}],3662,"[{'y': 39, 'x': 4}, {'y': 63, 'x': 9}]",2499754,Pass,1625,2H,794.890175,85,185703723,Manchester City,C. Bravo,[Accurate],"(2, 13, 15)"
57780,7,Touch,[],70086,"[{'y': 63, 'x': 9}, {'y': 64, 'x': 35}]",2499754,Others on the ball,1625,2H,796.383121,72,185703725,Manchester City,N. Otamendi,[],"(2, 13, 16)"

In [26]:
# add a tag_list column
tagfile = './data/Wyscout/tags2name.csv'
df_tag = pd.read_csv(tagfile, sep=';')
tagId2tag = dict(zip(df_tag['Tag'], df_tag['Description']))

match_events['tagId_list'] = match_events.tags.apply(lambda x: [i['id'] for i in x])
match_events['tag_list'] = match_events.tagId_list.apply(lambda x: [tagId2tag[i] for i in x])
match_events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,team,player,tagId_list,tag_list,time
56750,8,Simple pass,[{'id': 1801}],116,"[{'y': 48, 'x': 50}, {'y': 55, 'x': 27}]",2499754,Pass,1612,1H,0.841815,85,185702706,Liverpool,G. Wijnaldum,[1801],[Accurate],"(1, 0, 0)"
56751,8,Simple pass,[{'id': 1801}],14870,"[{'y': 55, 'x': 27}, {'y': 79, 'x': 41}]",2499754,Pass,1612,1H,2.864206,85,185702707,Liverpool,J. Matip,[1801],[Accurate],"(1, 0, 2)"
56752,8,Simple pass,[{'id': 1801}],346101,"[{'y': 79, 'x': 41}, {'y': 67, 'x': 70}]",2499754,Pass,1612,1H,6.850935,85,185702711,Liverpool,T. Alexander-Arnold,[1801],[Accurate],"(1, 0, 6)"
56753,8,Simple pass,[{'id': 1801}],120353,"[{'y': 67, 'x': 70}, {'y': 87, 'x': 55}]",2499754,Pass,1612,1H,8.040190,85,185757993,Liverpool,Mohamed Salah,[1801],[Accurate],"(1, 0, 8)"
56754,8,Simple pass,[{'id': 1801}],116,"[{'y': 87, 'x': 55}, {'y': 95, 'x': 66}]",2499754,Pass,1612,1H,9.988902,85,185702722,Liverpool,G. Wijnaldum,[1801],[Accurate],"(1, 0, 9)"

In [29]:
# add player name column
playerfile = './data/Wyscout/players.json'
df_player = pd.read_json(playerfile)
playerId2player = dict(zip(df_player['wyId'], df_player['shortName']))
playerId2player[0] = 'None' # 

### This snippet shows events with playerId=0 and the followup event. 
### Interruption has playerId 0, and some free kicks missing player has playerId = 0.
# id_interruption = match_events[match_events.playerId==0].index.values
# id_followup = id_interruption + 1
# id_ = np.concatenate((id_interruption[:,np.newaxis], id_followup[:,np.newaxis]), axis=-1).reshape(-1)
# display(match_events.loc[id_])

match_events['player'] = match_events.playerId.apply(lambda x: playerId2player[x])
match_events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tagId_list,tag_list,player
56750,8,Simple pass,[{'id': 1801}],116,"[{'y': 48, 'x': 50}, {'y': 55, 'x': 27}]",2499754,Pass,1612,1H,0.841815,85,185702706,[1801],[Accurate],G. Wijnaldum
56751,8,Simple pass,[{'id': 1801}],14870,"[{'y': 55, 'x': 27}, {'y': 79, 'x': 41}]",2499754,Pass,1612,1H,2.864206,85,185702707,[1801],[Accurate],J. Matip
56752,8,Simple pass,[{'id': 1801}],346101,"[{'y': 79, 'x': 41}, {'y': 67, 'x': 70}]",2499754,Pass,1612,1H,6.850935,85,185702711,[1801],[Accurate],T. Alexander-Arnold
56753,8,Simple pass,[{'id': 1801}],120353,"[{'y': 67, 'x': 70}, {'y': 87, 'x': 55}]",2499754,Pass,1612,1H,8.040190,85,185757993,[1801],[Accurate],Mohamed Salah
56754,8,Simple pass,[{'id': 1801}],116,"[{'y': 87, 'x': 55}, {'y': 95, 'x': 66}]",2499754,Pass,1612,1H,9.988902,85,185702722,[1801],[Accurate],G. Wijnaldum

In [32]:
# add team name column
teamfile = './data/Wyscout/teams.json'
df_team = pd.read_json(teamfile)
teamId2team = dict(zip(df_team['wyId'], df_team['name']))

match_events['team'] = match_events.teamId.apply(lambda x: teamId2team[x])
match_events.head()

,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,tagId_list,tag_list,player,team
56750,8,Simple pass,[{'id': 1801}],116,"[{'y': 48, 'x': 50}, {'y': 55, 'x': 27}]",2499754,Pass,1612,1H,0.841815,85,185702706,[1801],[Accurate],G. Wijnaldum,Liverpool
56751,8,Simple pass,[{'id': 1801}],14870,"[{'y': 55, 'x': 27}, {'y': 79, 'x': 41}]",2499754,Pass,1612,1H,2.864206,85,185702707,[1801],[Accurate],J. Matip,Liverpool
56752,8,Simple pass,[{'id': 1801}],346101,"[{'y': 79, 'x': 41}, {'y': 67, 'x': 70}]",2499754,Pass,1612,1H,6.850935,85,185702711,[1801],[Accurate],T. Alexander-Arnold,Liverpool
56753,8,Simple pass,[{'id': 1801}],120353,"[{'y': 67, 'x': 70}, {'y': 87, 'x': 55}]",2499754,Pass,1612,1H,8.040190,85,185757993,[1801],[Accurate],Mohamed Salah,Liverpool
56754,8,Simple pass,[{'id': 1801}],116,"[{'y': 87, 'x': 55}, {'y': 95, 'x': 66}]",2499754,Pass,1612,1H,9.988902,85,185702722,[1801],[Accurate],G. Wijnaldum,Liverpool

In [ ]:
# find more information about this match
df_teams = pd.read_json('./data/Wyscout/teams.json')
teamId2name = dict(zip(df_teams['wyId'], df_teams['name']))
# teams = [teamId2name[x] for x in match_events.teamId.unique()]
# print('Matches between {} and {}'.format(teams[0], teams[1])) # matches data is needed if home and away needs to be distinguished

In [74]:
dict_events = match_events.to_dict('records')

In [49]:
# matche event storyline
match_events['description'] = match_events.apply(
    lambda x: "At {time} min of {half}, {player} of {team} finished ({tag}) {event}".format(
        time=int(x['eventSec']/60), 
        half=x['matchPeriod'], 
        player=x['player'], 
        team=x['team'], 
        tag=x['tag_list'],
        event=x['eventName']
        ), axis=1) # note axis is necessary because it is Dataframe.apply, not Series.apply

a = match_events['description'][0:100].values
print(a)

["At 0 min of 1H, G. Wijnaldum of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, J. Matip of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, Mohamed Salah of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, G. Wijnaldum of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, G. Wijnaldum of Liverpool finished (['Not accurate']) Pass"
 "At 0 min of 1H, Fernandinho of Manchester City finished (['Interception', 'Accurate']) Pass"
 "At 0 min of 1H, B. Mendy of Manchester City finished (['Accurate']) Pass"
 "At 0 min of 1H, Ederson of Manchester City finished (['Accurate']) Pass"
 "At 0 min of 1H, Fernandinho of Manchester City finished (['Accurate']) Pass"
 "At 0 min of 1H, N. Otamendi of Manchester City finished (['Accurate']) Pass"
 "At 0 min of 1H, S. Ag\\u00fcero of Manchester City finished (['Anticipation', 'Neutral', 'Accurate']) Duel"
 "At 0 min of 1H, R. Klavan of Liverpool finished (['Won', 'Accurate']) Duel"
 "At 0 min of 1H, Fernandinho of Manchester City finished (['Interception', 'Not accurate']) Pass"
 "At 0 min of 1H, J. Henderson of Liverpool finished (['Interception', 'Accurate']) Pass"
 "At 0 min of 1H, G. Wijnaldum of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, R. Klavan of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, S. Man\\u00e9 of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, Alberto Moreno of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, S. Mignolet of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Pass"
 "At 0 min of 1H, Roberto Firmino of Liverpool finished (['Not accurate']) Pass"
 "At 0 min of 1H, J. Stones of Manchester City finished (['Accurate']) Others on the ball"
 "At 0 min of 1H, G. Wijnaldum of Liverpool finished (['Won', 'Accurate']) Duel"
 "At 0 min of 1H, J. Stones of Manchester City finished (['Lost', 'Not accurate']) Duel"
 "At 0 min of 1H, Roberto Firmino of Liverpool finished (['Accurate']) Pass"
 "At 1 min of 1H, E. Can of Liverpool finished (['Accurate']) Pass"
 "At 1 min of 1H, Alberto Moreno of Liverpool finished (['Accurate']) Pass"
 "At 1 min of 1H, Fernandinho of Manchester City finished (['Won', 'Accurate']) Duel"
 "At 1 min of 1H, Roberto Firmino of Liverpool finished (['Lost', 'Not accurate']) Duel"
 "At 1 min of 1H, Fernandinho of Manchester City finished (['Not accurate']) Pass"
 "At 1 min of 1H, J. Henderson of Liverpool finished (['Interception', 'Accurate']) Pass"
 "At 1 min of 1H, G. Wijnaldum of Liverpool finished (['Accurate']) Pass"
 "At 1 min of 1H, Mohamed Salah of Liverpool finished (['Key pass', 'Accurate']) Pass"
 "At 1 min of 1H, Alberto Moreno of Liverpool finished (['Left foot', 'Blocked', 'Not accurate']) Shot"
 "At 1 min of 1H, N. Otamendi of Manchester City finished (['Interception']) Others on the ball"
 'At 1 min of 1H, None of Manchester City finished ([]) Interruption'
 "At 1 min of 1H, T. Alexander-Arnold of Liverpool finished (['High', 'Accurate']) Free Kick"
 'At 1 min of 1H, Ederson of Manchester City finished ([]) Others on the ball'
 "At 2 min of 1H, G. Wijnaldum of Liverpool finished (['Accurate']) Pass"
 "At 2 min of 1H, T. Alexander-Arnold of Liverpool finished (['Not accurate']) Pass"
 "At 2 min of 1H, N. Otamendi of Manchester City finished (['Interception', 'Accurate']) Pass"
 "At 2 min of 1H, David Silva of Manchester City finished (['Accurate']) Pass"
 "At 2 min of 1H, B. Mendy of Manchester City finished (['Accurate']) Pass"
 "At 2 min of 1H, Fernandinho of Manchester City finished (['Accurate']) Pass"
 'At 2 min of 1H, S. Ag\\u00fcero of Manchester City finished ([]) Others on the ball'
 "At 2 min of 1H, S. Ag\\u00fcero of Manchester City finished (['Accurate']) Pass"
 "At 2 min of 1H, K. Walker of Manchester City finished (['Accurate']) Pass"
 "At 2 min of 1H, K. De Bruyne of Manchester City finished (['Through', 'Not accurate']) Pass"
 "At 2 min of 1H, R. Klavan of Liverpool finished (['Interception']) Others on the ball"
 "At 2 min of 1H, J. Henderson of Liverpool finished (['Not accurate']) Pass"
 "At 2 min of 1H, David Silva of Manchester City finished (['Accurate']) Pass"
 "At 2 min of 1H, K. Walker of Manchester City finished (['Won', 'Accurate']) Duel"
 "At 2 min of 1H, S. Man\\u00e9 of Liverpool finished (['Lost', 'Not accurate']) Duel"
 'At 2 min of 1H, S. Man\\u00e9 of Liverpool finished ([]) Foul'
 "At 3 min of 1H, K. De Bruyne of Manchester City finished (['Key pass', 'High', 'Accurate']) Free Kick"
 "At 3 min of 1H, Gabriel Jesus of Manchester City finished (['Won', 'Accurate']) Duel"
 "At 3 min of 1H, G. Wijnaldum of Liverpool finished (['Lost', 'Not accurate']) Duel"
 "At 3 min of 1H, Gabriel Jesus of Manchester City finished (['Head/body', 'Opportunity', 'Position: Out low left', 'Not accurate']) Shot"
 'At 3 min of 1H, None of Manchester City finished ([]) Interruption'
 'At 3 min of 1H, S. Mignolet of Liverpool finished ([]) Free Kick'
 "At 3 min of 1H, N. Otamendi of Manchester City finished (['Won', 'Accurate']) Duel"
 "At 3 min of 1H, E. Can of Liverpool finished (['Lost', 'Not accurate']) Duel"
 "At 3 min of 1H, David Silva of Manchester City finished (['Lost', 'Not accurate']) Duel"
 "At 3 min of 1H, T. Alexander-Arnold of Liverpool finished (['Won', 'Accurate']) Duel"
 "At 3 min of 1H, E. Can of Liverpool finished (['Neutral', 'Accurate']) Duel"
 "At 3 min of 1H, N. Otamendi of Manchester City finished (['Neutral', 'Accurate']) Duel"
 'At 4 min of 1H, None of Manchester City finished ([]) Interruption'
 "At 4 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Free Kick"
 "At 4 min of 1H, J. Henderson of Liverpool finished (['Not accurate']) Pass"
 "At 4 min of 1H, S. Ag\\u00fcero of Manchester City finished (['Interception']) Others on the ball"
 'At 4 min of 1H, None of Manchester City finished ([]) Interruption'
 "At 4 min of 1H, T. Alexander-Arnold of Liverpool finished (['Accurate']) Free Kick"
 "At 4 min of 1H, N. Otamendi of Manchester City finished (['Neutral', 'Accurate']) Duel"
 "At 4 min of 1H, Mohamed Salah of Liverpool finished (['Neutral', 'Accurate']) Duel"
 "At 4 min of 1H, Mohamed Salah of Liverpool finished (['Accurate']) Pass"
 "At 4 min of 1H, J. Henderson of Liverpool finished (['Accurate']) Pass"
 "At 4 min of 1H, David Silva of Manchester City finished (['Neutral', 'Accurate']) Duel"
 "At 4 min of 1H, T. Alexander-Arnold of Liverpool finished (['Neutral', 'Accurate']) Duel"
 'At 4 min of 1H, None of Manchester City finished ([]) Interruption'
 "At 4 min of 1H, B. Mendy of Manchester City finished (['Not accurate']) Free Kick"
 "At 4 min of 1H, J. Henderson of Liverpool finished (['Interception', 'Not accurate']) Pass"
 'At 4 min of 1H, S. Ag\\u00fcero of Manchester City finished ([]) Others on the ball'
 "At 4 min of 1H, J. Matip of Liverpool finished (['Accurate']) Pass"
 "At 4 min of 1H, S. Mignolet of Liverpool finished (['Accurate']) Pass"
 "At 4 min of 1H, Alberto Moreno of Liverpool finished (['Take on right', 'Won', 'Accurate']) Duel"
 "At 4 min of 1H, K. De Bruyne of Manchester City finished (['Take on left', 'Lost', 'Not accurate']) Duel"
 "At 4 min of 1H, Alberto Moreno of Liverpool finished (['Accurate']) Pass"
 "At 4 min of 1H, R. Klavan of Liverpool finished (['Accurate']) Pass"
 "At 5 min of 1H, J. Matip of Liverpool finished (['Accurate']) Pass"
 'At 5 min of 1H, Mohamed Salah of Liverpool finished ([]) Others on the ball'
 "At 5 min of 1H, N. Otamendi of Manchester City finished (['Interception', 'Missed ball']) Others on the ball"
 "At 5 min of 1H, Mohamed Salah of Liverpool finished (['Take on left', 'Won', 'Accurate']) Duel"
 "At 5 min of 1H, N. Otamendi of Manchester City finished (['Take on right', 'Sliding tackle', 'Lost', 'Not accurate']) Duel"
 "At 5 min of 1H, N. Otamendi of Manchester City finished (['Yellow card']) Foul"
 "At 6 min of 1H, Alberto Moreno of Liverpool finished (['Left foot', 'Direct', 'Blocked', 'Opportunity', 'Not accurate']) Free Kick"
 "At 6 min of 1H, S. Ag\\u00fcero of Manchester City finished (['Interception']) Others on the ball"
 "At 6 min of 1H, T. Alexander-Arnold of Liverpool finished (['Right foot', 'High', 'Accurate']) Pass"]

In [75]:
dict_events[1]

{'eventId': 8,
 'subEventName': 'Simple pass',
 'tags': [{'id': 1801}],
 'playerId': 14870,
 'positions': [{'y': 55, 'x': 27}, {'y': 79, 'x': 41}],
 'matchId': 2499754,
 'eventName': 'Pass',
 'teamId': 1612,
 'matchPeriod': '1H',
 'eventSec': 2.864205999999996,
 'subEventId': 85,
 'id': 185702707,
 'team': 'Liverpool',
 'player': 'J. Matip',
 'taglist': ['Accurate'],
 'time': (1, 0, 3)}

In [5]:
sns.plot()

AttributeError: module 'seaborn' has no attribute 'plot'